<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="Calculator 1">
    <link rel="icon" href="../images/favicon.ico">
    <title>Calculator 1</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <script src="../js/custom.js"></script>
	<script src="../js/angular.min.js" type="text/javascript"></script>
	<script src="../js/jquery-2.2.4.min.js" type="text/javascript"></script>
  </head>
<body>
	<div class="otrp-calculator">
		<div class="otrp-calculator title">
			<h1>Optimisation of Transition To Retirement Pension</h1>
		</div>
		<div class="otrp-calculator content">
			<div class="inputs-div">
				<div class="section">
					<h2>
						<span class="number-wrapper">1</span>
						<span class="title-wrapper">Your Details</span>
					</h2>
					<div class="expandable">
						<div class="panel-header">
							<div class="amount-header">
								<span>Amount</span>
							</div>
							<div class="otrp-clear"></div>
						</div>
						<div class="panel-body">
							<div class="panel-inner-body">
								<div class="amount-input">
									<label class="standard-label">Current Salary</label>
									<input type="text" name="amount" class="standard-input" maxlength="9" ng-model="">
								</div>
							</div>							
						</div>

						<div class="panel-body">
							<div class="panel-inner-body">
								<div class="amount-input">
									<label class="standard-label">Account Balance</label>
									<input type="text" name="amount" class="standard-input" maxlength="9" ng-model="">
								</div>
							</div>							
						</div>

						<div class="panel-body">
							<div class="panel-inner-body">
								<div class="amount-input">
									<label class="standard-label">Accumulation</label>
									<input type="text" name="amount" class="standard-input" maxlength="9" ng-model="">
								</div>
							</div>							
						</div>

						<div class="panel-body">
							<div class="panel-inner-body">
								<div class="amount-input">
									<label class="standard-label">Pension</label>
									<input type="text" name="amount" class="standard-input" maxlength="9" ng-model="">
								</div>
							</div>							
						</div>

						<div class="panel-body">
							<div class="panel-inner-body">
								<div class="amount-input">
									<label class="standard-label">Min takehome pay</label>
									<input type="text" name="amount" class="standard-input" maxlength="9" ng-model="">
								</div>
							</div>							
						</div>

					</div>
				</div>
			</div>
			<div class="result-head">
				<h3 class="results-title">Your results</h3>
				<div class="otrp-clear"></div>
			</div>
			
			<div class="result-div ">

				<div class="left-output">

					<h3>Estimated Results</h3>

					<div class="content-result">
						<span class="results-label">Additional Pre-Tax Contributions</span>
        				<span class="value-result">$23,000</span>
        				<div class="otrp-clear"></div>
					</div>	

					<div class="content-result">
						<span class="results-label">Additional Pre-Tax Contributions</span>
        				<span class="value-result">$23,000</span>
        				<div class="otrp-clear"></div>
					</div>
					
					<div class="content-result">
						<span class="results-label">Additional Pre-Tax Contributions</span>
        				<span class="value-result">$23,000</span>
        				<div class="otrp-clear"></div>
					</div>

					<div class="otrp-clear"></div>

				</div>
				<div class="right-output">
					<h3>Estimated Results</h3>

					<div class="content-result">
						<span class="results-label">Additional Pre-Tax Contributions</span>
        				<span class="value-result">$23,000</span>
        				<div class="otrp-clear"></div>
					</div>	

					<div class="content-result">
						<span class="results-label">Additional Pre-Tax Contributions</span>
        				<span class="value-result">$23,000</span>
        				<div class="otrp-clear"></div>
					</div>
					
					<div class="content-result">
						<span class="results-label">Additional Pre-Tax Contributions</span>
        				<span class="value-result">$23,000</span>
        				<div class="otrp-clear"></div>
					</div>

					<div class="otrp-clear"></div>
					
				</div>
				<div class="otrp-clear"></div>
				<div class="center-output">

						<div class="content-result">
							<span class="results-label">Additional Pre-Tax Contributions</span>
	        				<span class="value-result">$23,000</span>
	        				<div class="otrp-clear"></div>
						</div>

				</div>

			</div>
			<div class="otrp-clear"></div>
			<span class="calculator-disclaimer">Information provided by Financial Choice Pty Ltd is general financial advice only. General advice is defined under the new regulations to include information about financial products and financial markets and our current views and outlook for those products and markets. The general advice we provide includes the information you have requested from us directly or via our web site.</span>
			<div class="otrp-clear"></div>
			
		</div>
	</div>
</body>
</html>
