<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="Calculator 1">
    <link rel="icon" href="../images/favicon.ico">
    <title>Calculator 1</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
  </head>
<body>
  <div class="container" ng-app="TTRApp" ng-controller="TTRController">
    <div class="row">
      <div class="col-xs-4">
  <div class="input-group" id="dob">
    <input type="text" ng-change="getAge()" class="form-control" ng-click="open1()" uib-datepicker-popup="{{format}}" ng-model="dob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
    <div class="input-group-addon" ng-click="open1()">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
</div>
</div>
<br/>
<div class="row">
  <div class="col-xs-4">
<div class="input-group date" id="datePension">
<input type="text" class="form-control" ng-change="getAge()" ng-click="open2()" uib-datepicker-popup="{{format}}"" ng-model="datePension" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
<div class="input-group-addon" ng-click="open2()">
    <span class="glyphicon glyphicon-th"></span>
</div>
</div>
</div>
</div>
<br/>
<div class="row">
  <div class="col-sm-4">
  <input ng-model="age" class="form-control" disabled>
</div>
</div>
<br/>
<div class="row">
  <div class="col-sm-4">
  <button ng-click="getAge()">Click</button>
</div>
</div>
<br/>
<div class="row">
  <div class="col-sm-4">
{{dob | date}}
<br/>
{{datePension | date }}
</div>
</div>
</div>
<script src="../js/angular.min.js" type="text/javascript"></script>
<script src="../js/ui-bootstrap-tpls-1.3.3.min.js" type="text/javascript"></script>
<script src="../js/app.js" type="text/javascript"></script>
<script src="../js/controller.js" type="text/javascript"></script>
<script src="../js/AgeCalculatorService.js" type="text/javascript"></script>
</body>
</html>
